.header{
    width:70vw ;
    height:80vh ;
    margin: 30px auto;
    background: url("https://imgs.search.brave.com/wFnQ3LyS5nQfJsj9HF-H0TMQpNWhvPx33DUl_d2ePqw/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9wbHVz/LnVuc3BsYXNoLmNv/bS9wcmVtaXVtX3Bo/b3RvLTE3MTIwNjMx/NjM2MjctZWM3OTI2/YzNiZDNiP3E9ODAm/dz0xMDAwJmF1dG89/Zm9ybWF0JmZpdD1j/cm9wJml4bGliPXJi/LTQuMC4zJml4aWQ9/TTN3eE1qQTNmREI4/TUh4elpXRnlZMmg4/Tlh4OGNHeGhiblFs/TWpCbWIyOWtmR1Z1/ZkRCOGZEQjhmSHd3.jpeg")no-repeat ;
    
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
p{
    color: white;
    font-size: 1vw;

}

button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw ,13px);
    border-radius: 50px;
    cursor: pointer;
}


@media (max-width:1050px) {
    .header{
        height: 38vw;

    }
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px) {
    
    
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
       padding: 2vw 4vw;
    }
}
