.navbar{
    /* position: absolute; */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    background: white;
}

.logo{
    width: 120px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
        display: flex;
        gap: 40px;
        align-items:center ;
}

.navbar-right img{
    width: 20px;
   
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color:#f64b2d;
    color: white;
    font-weight: 700;
    
}
.navbar-menu>a{
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-menu>a:hover{
    box-shadow: 0 0 15px tomato;
}

.navbar-search-icon{
    position: relative;

}

.dot{
    position: absolute;
    min-width: 12px;
    min-height: 12px;
    background-color: tomato;
    border-radius: 8px;
   
    top: -8px;
    right: -8px;
}   

@media (max-width:1050px) {
    .navbar .logo{
        width: 150px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;

    }

    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 12px;
        font-size: 14px;

    }

    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:768px) {
    
    .navbar-menu{
        gap: 10px;
        font-size: 12px;

    }


    
}
@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
    
}